body {
    text-align: center;
    background: #191919;
    color: #FFFFFF;
}

nav, 
#listaCanciones h2 {
    font-family: 'Bebas Neue', cursive;
}

#agregarCancion{
    background-image: url("/img-hero");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 6rem;
    padding-top: 8rem;
    position: relative;
    width: 100vw;
}

#form{
	color: #ffffff !important;
	position: relative !important;
}